:root {
    --size: clamp(25px, calc(100vw / 12), 40px);
}

.Digit {
    background-color: var(--thrd-color);
    color: var(--fg-color);
    border-radius: 10px;
    width: calc(var(--size) - 4px);
    height: calc(var(--size) - 4px);
    margin: 0 2px 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inactive_Digit {
    opacity: 0.3;
    border-radius: 10px;
    width: calc(var(--size) - 4px);
    height: calc(var(--size) - 4px);
    margin: 0 2px 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Digit:hover {
    background-color: var(--scnd-color);
    border: 1px solid var(--thrd-color);
    cursor: pointer;
}

.Inactive {
    background-color: grey;
}