.NavBar {
    background-color: #f0f0f0;
    border-bottom: 1px solid #dadadf;
    opacity: 0.8;
    transition: .3s;
}

.NavBar:hover {
    background-color: #e8e8e8;
    opacity: 1;
    border-bottom: 1px solid black;
}

.NavLink {
    padding: 0 20px;
}

.NavLink span {
    margin-left: 6px;
}

.Active i {
    color: black;
}