:root {
    --size: clamp(25px, calc(100vw / 12), 40px);
}

.Cell {
    width: var(--size);
    height: var(--size);
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(199, 198, 198);
    font-size: calc(var(--size) * 0.65);
}

.Selected {
    background-color: lightblue;
}

.Warning {
    background-color: rgb(253, 249, 200);
}

.Clashing_Cell {
    color: red;
}

.Offending_Choice {
    background-color: rgb(252, 187, 46);
    color: red;
}

.spin_to_correct {
    animation: letter_spin .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes letter_spin {
    from {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    to {
        box-shadow: inset 0px 0px 4px 2px navy;
        color: navy;
        transform: rotateY(0deg);
    }
}

