.icon_button {
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: 1px solid var(--fg-color);
    border-radius: 4px;
    margin: 0 5px;
}

.icon_button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

i {
    color: var(--fg-color);
}

