.Grid {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0 0;
}

.Grid div:nth-child(n+19):nth-child(-n+27) {
    border-bottom: 1px solid black;
}

.Grid div:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 1px solid black;
}

.Grid div:nth-child(3n) {
    border-right: 1px solid black;
}
