/* .darkTheme {
    --bg-color: #080808;
    --fg-color: #b4b1a3;
    --scnd-color: #61502f;
    --thrd-color: #463b2f;
    --brgt-color: #464545;
    --warn-color: #e0492b;
} */

/* .lightTheme {
    --bg-color: #d6cfbf;
    --fg-color: #4e4d49;
    --scnd-color: #e2c58d;
    --thrd-color: #b8a690;
    --brgt-color: #e4dfcb;
    --warn-color: #e0492b;
} */

.darkTheme {
    --bg-color: #080808;
    --fg-color: #f8f8f8;
    --scnd-color: #64553f;
    --thrd-color: #444443;
    --brgt-color: #44330b;
    --warn-color: #e0492b;
}

.lightTheme {
    --bg-color: #948f85;
    --fg-color: #302f2d;
    --scnd-color: #e4b85f;
    --thrd-color: #8d7f6f;
    --brgt-color: #e4dfcb;
    --warn-color: #e0492b;
}